{{HEADER}}
<div class="header">
    <h2 class="page-name">{{PAGE_NAME}}</h2>
    <h1 class="surah-name">Tentang {{APP_NAME}}</h1>
</div>

{{MENU}}

<div class="ayah-wrapper page-wrapper">
    <h2 class="page-heading">Tentang</h2>
    <p>Alhamdulillah puji syukur ke hadirat Allah SWT. Sholawat serta salam semoga selalu tercurahkan kepada Nabi Muhammad SAW.</p>
    <p>{{APP_NAME}} adalah project untuk menyajikan kitab suci Al-Quran dalam bentuk mobile web yang ringan dan cepat. Sehingga perangkat dengan spesifikasi rendah pun dapat mengakses tanpa kesulitan. Fitur utama dari {{APP_NAME}} adalah:</p>

    <ul class="margin-bottom-half">
        <li>Cepat dan ringan</li>
        <li>Mobile web friendly</li>
        <li>Penanda terakhir dibaca</li>
        <li>Tafsir Bahasa Indonesia</li>
        <li>Terjemahan Bahasa Indonesia</li>
        <li>Mode malam untuk kenyamanan membaca</li>
        <li>Pergi ke ayat tertentu dalam satu surah</li>
        <li>Setiap ayat memiliki URL sendiri dan dapat dibagikan</li>
        <li>Audio murottal untuk setiap ayat (sumber everyayah.com)</li>
    </ul>

    <p>Beberapa fitur yang akan ditambahkan pada versi yang akan datang adalah:</p>

    <ul class="margin-bottom-2">
        <li>Bookmark ayat</li>
    </ul>

    <h2 class="page-heading">Sumber</h2>
    <p class="margin-bottom-2">Sumber utama ayat-ayat Al-Quran dan terjemahannya dalam project ini didapat dari situs dan aplikasi resmi dari Kementrian Agama Republik Indonesia yang dapat diakses di <a href="https://quran.kemenag.go.id">quran.kemenag.go.id</a>.</p>

    <h2 class="page-heading">Laporkan Kesalahan</h2>
    <p class="margin-bottom-2">Al-Quran adalah kitab suci sempurna yang diturunkan Allah SWT. segala bentuk kesalahan yang ada pada project ini adalah pasti karena kebodohan dan kekhilafan saya sendiri. Untuk itu mohon dengan hormat jika anda menemukan ada suatu kesalahan untuk menghubungi saya melalui email di <strong>rio@rioastamal.net</strong>.</p>

    <h2 class="page-heading">Source Code</h2>
    <p class="margin-bottom-2">Source code (kode sumber) untuk membuat website ini tersedia secara bebas dan terbuka (Open Source). Anda dapat melihatnya di <a href="https://github.com/rioastamal/quran-web">github.com/rioastamal/quran-web</a>.</p>

    <h2 class="page-heading">Changelog</h2>

    <p><strong>Versi 1.5</strong></p>
    <ul class="margin-bottom-2">
        <li>Penambahan fitur audio murottal untuk setiap ayat</li>
        <li>Autoscroll ke ayat yang diputar ketika diulang per surah</li>
        <li>Terdapat 3 pilihan qori yaitu Sheikh Sudais, Sheikh Al-Hussary dan Sheikh Alafasy</li>
    </ul>

    <p><strong>Versi 1.4</strong></p>
    <ul class="margin-bottom-2">
        <li>Pencarian nama surah pada halaman Daftar Surah</li>
    </ul>

    <p><strong>Versi 1.3</strong></p>
    <ul class="margin-bottom-2">
        <li>Penambahan tafsir pada setiap ayat</li>
        <li>Setiap ayat memiliki URL sendiri dan dapat dibagikan</li>
    </ul>

    <p><strong>Versi 1.2</strong></p>
    <ul class="margin-bottom-2">
        <li>Pergi ke nomor ayat tertentu dalam satu surah</li>
        <li>Back to top</li>
    </ul>

    <p><strong>Versi 1.1</strong></p>
    <ul class="margin-bottom-2">
        <li>Penambahan sitemap untuk SEO</li>
        <li>Fitur baru: Penanda terakhir dibaca</li>
        <li>Peningkatan performa: Mengganti window.onload dengan DOMContentLoaded</li>
    </ul>

    <p><strong>Versi 1.0</strong></p>
    <ul class="margin-bottom-2">
        <li>Mobile web frienldy</li>
        <li>Terjemahan Bahasa Indonesia</li>
        <li>Mode malam untuk kenyamanan membaca</li>
    </ul>
</div>

{{FOOTER}}
