<div class="footer">
    <p>{{APP_NAME}} v{{VERSION}}</p>
    <p>made with <span class="love">♥︎</span> by <a href="https://rioastamal.net">Rio Astamal</a></p>
</div>
<script type="text/javascript">
var murottalAudioElement = document.createElement('Audio');
var previousPlayedButton = null;

/**
 * Function to pad string at beginning. With modification without String.repeat().
 *
 * https://github.com/uxitten/polyfill/blob/master/string.polyfill.js
 * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart
 *
 * @return String
 */
if (!String.prototype.padStart) {
    String.prototype.padStart = function padStart(targetLength, padString) {
        var targetLength = targetLength >> 0; //truncate if number, or convert non-number to 0;
        var padString = String(typeof padString !== 'undefined' ? padString : ' ');
        if (this.length >= targetLength) {
            return String(this);
        } else {
            targetLength = targetLength - this.length;
            var prefix = '';
            for (var i=0; i<targetLength; i++) {
                prefix += padString;
            }

            return prefix + String(this);
        }
    };
}

/**
 * Check exitense of a cookie.
 *
 * @param String name
 * @param String value
 * @return boolean
 */
function isCookieExists(name, value)
{
    if (document.cookie.split(';').filter(function(item) {
        if (typeof value === 'undefined') {
            return item.indexOf(name + '=') >= 0;
        }

        return item.indexOf(name + '=' + value) >= 0;
    }).length) {
        return true;
    }

    return false;
};

/**
 * Write cookie and set the expiration to forever. It will only write once.
 *
 * @param String name
 * @param String value
 * @param Boolean checkWithValue
 * @return void
 */
function writePermanentCookie(name, value, checkWithValue)
{
    var currentYear = (new Date()).getFullYear() + 3;
    var expires = (new Date(currentYear, 12, 12)).toUTCString();
    document.cookie = name + '=' + value + ';path=/;expires=' + expires;
};

/**
 * Apply night mode
 *
 * @param boolean night
 * @return void
 */
function applyNightMode(apply)
{
    var nightModeCss = {
        default: 'nightmode',
        light: 'nightmode-light',
        lineMenu: 'nightmode-linemenu',
        linkBlend: 'nightmode-link-blend'
    };

    var addOrRemoveNightMode = function(isNight, elClassName, nightName) {
        var elements = document.getElementsByClassName(elClassName);

        if (!isNight) {
            for (var i=0; i<elements.length; i++) {
                elements[i].className = elements[i].className.replace(nightName, '');
            }

            return;
        }

        for (var i=0; i<elements.length; i++) {
            elements[i].className = elements[i].className + ' ' + nightName;
        }
    };

    var targetElements = [
        'ayah-text', 'surah-index',
        'sidepage', 'ayah-number',
        'footer', 'surah-index-link',
        'linemenu', 'sidepage-item-link',
        'page-heading', 'sidepage-item',
        'icon-ayah-toolbar', 'goto-ayah',
        'ayah-tafsir-title', 'surah-header-link',
        'ayah-next', 'ayah-prev',
        'search-keywords'
    ];
    var targetCss = [
        nightModeCss.light, nightModeCss.light,
        nightModeCss.default, nightModeCss.default,
        nightModeCss.default, nightModeCss.linkBlend,
        nightModeCss.lineMenu, nightModeCss.linkBlend,
        nightModeCss.default, nightModeCss.default,
        nightModeCss.light, nightModeCss.default,
        nightModeCss.default, nightModeCss.linkBlend,
        nightModeCss.linkBlend, nightModeCss.linkBlend,
        nightModeCss.default
    ];

    if (apply === false) {
        document.body.className = document.body.className.replace(nightModeCss.default, '');

        for (var i=0; i<targetElements.length; i++) {
            addOrRemoveNightMode(false, targetElements[i], targetCss[i]);
        }

        writePermanentCookie('nightMode', '0');
        return;
    }

    document.body.className = document.body.className + ' ' + nightModeCss.default;
    for (var i=0; i<targetElements.length; i++) {
        addOrRemoveNightMode(true, targetElements[i], targetCss[i]);
    }

    writePermanentCookie('nightMode', '1');
}

/**
 * Apply translation
 *
 * @param boolean apply
 * @return void
 */
function applyTranslation(apply)
{
    var translationClass = 'ayah-translation';
    var cookieValue = '1';

    if (apply === false) {
        translationClass = 'ayah-translation hide';
        cookieValue = '0'
    }

    var translationElements = document.getElementsByClassName('ayah-translation');
    for (var i=0; i<translationElements.length; i++) {
        translationElements[i].className = translationClass;
    }

    writePermanentCookie('useTranslation', cookieValue);
}

/**
 * Apply on double click for ayah element
 *
 * @return void
 */
function applyDoubleClickForAyah()
{
    var ayahNumberElements = document.getElementsByClassName('link-mark-ayah');
    var writeMarkedAyah = function(surahName, surahNumber, ayahNumber) {
        var marked = confirm('Tandai sebagai terakhir dibaca Surah ' + surahName + ' ayat ' + ayahNumber + '?');
        if (marked == false) {
            return;
        }

        var lastReadCookieValue = surahName + ',' + surahNumber.toString() + ',' + ayahNumber.toString();
        writePermanentCookie('lastRead', lastReadCookieValue);
        document.getElementById('sidepage-item-last-marked').innerHTML = 'Surah ' + surahName + ' ayat ' + ayahNumber;
        document.getElementById('last-read-link').href = '{{BASE_URL}}/' + surahNumber + '/#no' + ayahNumber;
    };

    var ayahInfo;
    for (var i=0; i<ayahNumberElements.length; i++) {
        ayahNumberElements[i].onclick = function(e)
        {
            ayahInfo = this.parentNode.parentNode.title.split(',');
            writeMarkedAyah(ayahInfo[0], ayahInfo[1], ayahInfo[2]);

            return false;
        }
    }

    if (!isCookieExists('lastRead')) {
        return;
    }

    ayahInfo = document.cookie.replace(/(?:(?:^|.*;\s*)lastRead\s*\=\s*([^;]*).*$)|^.*$/, "$1").split(',');
    document.getElementById('sidepage-item-last-marked').innerHTML = 'Surah ' + ayahInfo[0] + ' ayat ' + ayahInfo[2];
    document.getElementById('last-read-link').href = '{{BASE_URL}}/' + ayahInfo[1] + '/#no' + ayahInfo[2];
}

/**
 * Audio murottal are taken from everyayah.com. Currently only support one reciter.
 *
 * @param int surahNumber
 * @param int ayahNumber
 * @param HTMLAudioElement audioButton
 * @return void
 */
function playAudioMurottal(surahNumber, ayahNumber, audioButton)
{
    // Pause icon double vertical bar -> &#10073;&#10073;
    var baseMurottalUrl = '{{BASE_MUROTTAL_URL}}/';
    var murottalFile = (parseInt(surahNumber) * 1000 + parseInt(ayahNumber)).toString();
    murottalFile = murottalFile.padStart(6, '0') + '.mp3';

    if (previousPlayedButton !== null) {
        // reset button back to Play icon
        previousPlayedButton.innerHTML = '<span class="icon-content">&#x25b6;</span>';
    }
    previousPlayedButton = audioButton;

    murottalAudioElement.src = baseMurottalUrl + murottalFile;
    murottalAudioElement.play();
    // &#x2759; vertical bar
    audioButton.innerHTML = '<span class="icon-content">&#x2759;&#x2759;</span>';

    murottalAudioElement.addEventListener('ended', function(e) {
        // &#x25b6; black right triangle
        audioButton.innerHTML = '<span class="icon-content">&#x25b6;</span>';
    });
}

/**
 * Function apply function to play audio murottal
 *
 * @return void
 */
function applyClickForMurottal()
{
    var clickAudioElements = document.getElementsByClassName('murottal-audio-player');
    for (var i=0; i<clickAudioElements.length; i++) {
        clickAudioElements[i].onclick = function(e)
        {
            playAudioMurottal(
                this.getAttribute('data-surah-number'),
                this.getAttribute('data-ayah-number'),
                this
            );
        }
    }
}

/**
 * Jump to particular ayah when select element changes
 */
var gotoAyahElement = document.getElementById('goto-ayah');
var onAyahPage = false;

if (gotoAyahElement !== null) {
    gotoAyahElement.onchange = function(e) {
        window.location.href = this.value;
    }

    // Apply selected attribute
    var gotoTafsirAyahElement = document.getElementsByClassName('goto-ayah-tafsir');
    if (gotoTafsirAyahElement.length > 0) {
        onAyahPage = true;
        var currentAyah = parseInt(window.location.pathname.split('/')[2]);
        var optionsEl = gotoTafsirAyahElement[0].options;

        for (var i=0; i<optionsEl.length; i++) {
            if (currentAyah - 1 === i) {
                optionsEl[i].selected = true;
            }
        }
    }
}

document.getElementById('translation').onclick = function(e)
{
    if (this.checked) {
        applyTranslation(true);
        return;
    }

    applyTranslation(false);
}

document.getElementById('nightmode').onclick = function(e)
{
    if (this.checked) {
        applyNightMode(true);
        return;
    }

    applyNightMode(false);
}

var searchElement = document.getElementById('search-keywords');

if (searchElement !== null) {
    document.getElementById('search-keywords').onkeyup = function(e)
    {
        var surahList = document.getElementsByClassName('surah-index-link');
        var keyword = this.value.toLowerCase();

        for (var i=0; i<surahList.length; i++) {
            surahList[i].parentNode.style.display = 'block';

            if (surahList[i].getAttribute('data-keywords').toLowerCase().indexOf(keyword) === -1) {
                surahList[i].parentNode.style.display = 'none';
            }
        }
    }
}

document.addEventListener('DOMContentLoaded', function(e)
{
    applyDoubleClickForAyah();
    applyClickForMurottal();

    if (isCookieExists('nightMode', '1')) {
        applyNightMode(true);
        document.getElementById('nightmode').checked = true;
    }

    if (isCookieExists('nightMode', '0')) {
        applyNightMode(false);
        document.getElementById('nightmode').checked = false;
    }

    // Translation is enabled by default
    if (!onAyahPage) {
        if (isCookieExists('useTranslation', '0')) {
            applyTranslation(false);
            document.getElementById('translation').checked = false;
        }
    }

    if (onAyahPage) {
        document.getElementById('translation').disabled = true;
    }
});
</script>
</body>
</html>