<div class="menu">
    <a title="Klik untuk membuka menu" href="#sidepage">
        <span class="linemenu"></span>
        <span class="linemenu"></span>
        <span class="linemenu"></span>
    </a>
</div>

<div id="sidepage" class="sidepage">
    <div class="sidepage-close"><a title="Tutup menu" href="#">X</a></div>
    <div class="sidepage-item settings">
        <span><input id="translation" class="checkbox" type="checkbox" checked=""> <label title="Aktifkan atau non-aktifkan terjemahan ayat" for="translation">Terjemahan</label></span>
        <span><input id="nightmode" class="checkbox" type="checkbox"> <label title="Aktifkan atau non-aktifkan tampilan mode malam" for="nightmode">Mode Malam</label></span>
    </div>
    <div class="sidepage-item">
        <a title="Buka halaman daftar surah" href="{{BASE_URL}}/" class="sidepage-item-link"><span>Daftar Surah</span></a>
    </div>
    <div class="sidepage-item">
        <a title="Buka ayat yang terakhir dibaca" href="#" class="sidepage-item-link" id="last-read-link">
            <span>Terakhir Dibaca</span>
            <span id="sidepage-item-last-marked" class="sidepage-item-last-marked">Belum Ada. Click pada simbol &#x2713; untuk menandai.</span>
        </a>
    </div>
    <div class="sidepage-item">
        <a title="Buka halaman tentang QuranWeb" href="{{BASE_URL}}/tentang/" class="sidepage-item-link"><span>Tentang {{APP_NAME}}</span></a>
    </div>
    <div class="sidepage-item">
        <a title="Buka halaman Github dari QuranWeb" href="{{GITHUB_PROJECT_URL}}" class="sidepage-item-link"><span>Github</span></a>
    </div>
</div>