<div class="menu">
    <a href="#sidepage">
        <span class="linemenu"></span>
        <span class="linemenu"></span>
        <span class="linemenu"></span>
    </a>
</div>

<div id="sidepage" class="sidepage">
    <div class="sidepage-close"><a href="#">X</a></div>
    <div class="sidepage-item settings">
        <span><input id="translation" class="checkbox" type="checkbox" checked=""> <label for="translation">Terjemahan</label></span>
        <span><input id="nightmode" class="checkbox" type="checkbox"> <label for="nightmode">Mode Malam</label></span>
    </div>
    <div class="sidepage-item">
        <a href="{{BASE_URL}}/" class="sidepage-item-link"><span>Daftar Surah</span></a>
    </div>
    <div class="sidepage-item">
        <a href="{{BASE_URL}}/tentang/" class="sidepage-item-link"><span>Tentang {{APP_NAME}}</span></a>
    </div>
    <div class="sidepage-item">
        <a href="{{GITHUB_PROJECT_URL}}" class="sidepage-item-link"><span>Github</span></a>
    </div>
</div>