@font-face {
    font-family: "LPMQ";
    src: url("../fonts/lpmq.otf");
}
html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Georgia", "Arial", "Serif";
    width: 100%;
    color: #333;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
.header {
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-bottom: 3em;
    position: relative;
    padding-top: 2em;
}
.header h1 {
    font-size: 1.5em;
    margin: 0 0 0 0.2em;
    font-weight: normal;
}
.surah-number-name {
    border-radius: 30px;
    background-color: #333;
    margin-right: 0.4em;
    color: white;
    font-size: 0.7em;
    padding: 0.1em 0.5em 0.2em 0.5em;
    top: -0.2em;
    position: relative;
}
.header h2.surah-count {
    font-size: 1.1em;
    font-weight: normal;
}
.menu {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 1.5em;
    z-index: 10;
}
.linemenu {
    width: 32px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: block;
}
.ayah-wrapper {
    width: 100%;
    padding-bottom: 5em;
    box-sizing: border-box;
}
.ayah {
    margin-bottom: 0.5em;
}
.ayah-text {
    font-family: "LPMQ Isep Misbah", "Arial", "Verdana", "Serif";
    font-size: 1.7em;
    background-color: #f1f1f1;
    position: relative;
}
.ayah-text p {
    padding: 0.5em 0.5em 0.5em 0.3em;
    line-height: 3em;
}
.ayah-translation {
    font-size: 1em;
    font-style: italic;
    padding: 1em 0em 2em;
}
.ayah-translation p {
    padding: 0.2em 0.2em 0.2em 0.5em;
    line-height: 1.8em;
}
.ayah-number {
    font-size: 0.5em;
    padding: 0.1em 0.3em;
    background-color: #ccc;
    position: absolute;
    line-height: 1.5em;
    top: 0;
    left: 0;
}
.surah-list {
    box-sizing: border-box;
}
.surah-index {
    list-style: none;
    padding: 0.5em 0.2em 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: #f1f1f1;
    position: relative;
    display: block;
}
.surah-index-name {
    display: block;
    font-size: 1.2em;
}
.surah-index-ayah {
    display: block;
    font-size: 0.9em;
}
.surah-index-number {
    position: absolute;
    font-size: 2.1em;
    right: 0.5em;
    top: 0;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em 0.5em;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    color: #666;
    box-sizing: border-box;
}
.footer p {
    font-size: 0.8em;
    line-height: 1.5em;
}
.footer p a,
.footer p a:visited {
    text-decoration: none;
}
@media screen and (min-width: 720px) {
    .ayah-wrapper {
        width: 720px;
        margin: 0 auto;
    }
    .ayah-wrapper .ayah .ayah-translation p {
        padding: 0.2em 0.2em 0.2em 0em;
    }
}
.sidepage {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    background-color: #f1f1f1;
    padding-top: 2em;
    padding-right: 2em;
    display: none;
}
.sidepage .sidepage-item {
    box-sizing: border-box;
    padding: 0.8em 0.3em;
    font-size: 1.2em;
    margin-left: 1em;
    border-bottom: 1px solid #ccc;
}
.sidepage .sidepage-close {
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 1em;
    background-color: black;
}
.sidepage .sidepage-close a,
.sidepage .sidepage-close a:visited {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.5em;
}
.sidepage .settings span {
    margin-right: 1em;
    display: block;
    margin-bottom: 0.5em;
}
.sidepage:target {
    display: block;
}
.hide {
    display: none;
}
.nightmode {
    background-color: #222;
    color: #a9a9a9;
}
.nightmode a,
.nightmode a:visited {
    color: white;
}
.nightmode-light {
    background-color: #333;
}
.nightmode-linemenu {
    background-color: #a9a9a9;
}