{{HEADER}}
<div class="header">
    <h2 class="page-name">{{PAGE_NAME}}</h2>
    <h1 class="surah-name"><span class="surah-number-name">{{SURAH_NUMBER}}</span>{{SURAH_NAME_LATIN}} - {{SURAH_NAME_ARABIC}}</h1>
    <h2 class="surah-count">{{TOTAL_AYAH}} Ayat</h2>
</div>

{{MENU}}

<!-- Begin each ayah -->
<div class="ayah-wrapper">

    <div class="ayah-prev-next-wrapper">
        <a title="Sebelumnya Surah {{PREV_SURAH_NAME}}" class="ayah-prev" href="{{PREV_URL}}">&larr;</a>
        <a title="Berikutnya Surah {{NEXT_SURAH_NAME}}" class="ayah-next" href="{{NEXT_URL}}">&rarr;</a>
    </div>
    <div class="goto-ayah-wrapper">
        <div class="label-goto-ayah">Ke ayat</div>
        <select class="goto-ayah" id="goto-ayah">
            {{EACH_GOTO_AYAH}}
        </select>
    </div>

    {{EACH_AYAH}}

    <div class="ayah-prev-next-wrapper bottom">
        <a title="Sebelumnya Surah {{PREV_SURAH_NAME}}" class="ayah-prev bottom" href="{{PREV_URL}}">&larr;</a>
        <a title="Berikutnya Surah {{NEXT_SURAH_NAME}}" class="ayah-next bottom" href="{{NEXT_URL}}">&rarr;</a>
    </div>
</div>
{{FOOTER}}